*{
    margin: 0px;
    padding-left: 0px;
    border: border-box;
}
html,body{
    height: 100%;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}
.bi1{
    min-height: 100%;
    background-image: url(image1.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.txt1{
    position:absolute;
    font-size: 27px;
    background-color:#313534;
    color: white;
    letter-spacing: 8px;
    display: inline;
    height: 50px;
    padding-top: 25px;
    padding-right: 10px;
    padding-left: 10px;
    
}
.sec1{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
}
.sec1 p{
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.bi2{
    min-height: 400px;
    background-image: url(image2.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt2{
    position: absolute;
    font-size: 27px;
    background-color:#313534;
    color: white;
    letter-spacing: 8px;
    display: inline;
    height: 50px;
    padding-top: 25px;
    padding-right: 10px;
    padding-left: 10px;
}
.sec2{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
    color: #dddddd;
    background-color: #282e34;
}
.sec2 p{
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.bi3{
    min-height: 600px;
    background-image: url(image1.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt3{
    /* position: absolute; */
    font-size: 27px;
    background-color:#313534;
    color: white;
    letter-spacing: 8px;
    display: inline;
    height: 50px;
    padding-top: 25px;
    padding-right: 10px;
    padding-left: 10px;
}
.bi1,.bi2,.bi3{
    /* position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  background-attachment: fixed;
}